/*MAIN*/
body{
	background-color: #2F3434
}
.hidden{
	display: none;
}
/*MAIN*/

/*SEQUENCER*/
.track{
	display: inline-block;
}
.step-tf{
	background-color: #DFE1E2;
	height: 30px;
	width: 30px;
	padding: 1px;
	display: inline-block;
	margin: 4px;
}
.step-tt{
	background-color: #4A69BF;
	height: 30px;
	width: 30px;
	padding: 1px;
	margin: 4px;
	display: inline-block;
}
#step-wrapper{
	background-color: #EEE;
	height: 40px;
	width: 40px;
	padding: 1px;
	margin: 15px;
	display: inline-block;
}
#step-wrapper-active{
	background-color: #C91625;
	height: 40px;
	width: 40px;
	padding: 1px;
	margin: 15px;
	display: inline-block;
}
.step-tt-pl{
	border-color: #C91625;
	background-color: #4A69BF;
	height: 30px;
	width: 30px;
	padding: 1px;
	margin: 15px;
}
/*SEQUENCER*/

/*PROFILE*/
.userSequence-container {
	margin: 1%;
}
.userSequence-container:hover {
	background-color: #4A69BF;
}
.userSequence {
	text-align: center;
}
.userSequence img {
	width: 100%;
	padding: 1%;
}

.userSample-container {
	margin: 4%;
}

.userSample {
	text-align: center;
}
.userSample img{
	padding: 1%;
	width: 50%;
}
/*PROFILE**/
