body{
	background-color: #2F3434
}
.track{
	display: inline-block;
}
.step-tf{
	background-color: #DFE1E2;
	height: 30px;
	width: 30px;
	padding: 1px;
	margin: 15px;
}
.step-tt{
	background-color: #4A69BF;
	height: 30px;
	width: 30px;
	padding: 1px;
	margin: 15px;
}
