/*MAIN*/
body{
	background-color: white;
}
.hidden{
	display: none;
}
/*MAIN*/

/*NAVBAR*/
@font-face {
  font-family: Tracks;
  src: url(/fonts/track/TTF/Track.ttf);
}
#logo{
  font-family: Tracks;
	font-size: 40px;
	color: #F66662;
}
.navbar{
  height: 120px;
	padding-top: 20px;
	padding-right: 20px;
}
#navbar{
	position: absolute;
	bottom: 0;
}
/*NAVBAR*/


/*SEQUENCER*/
.outer{
	position:relative;
}
.sequence{
	position: relative;
	margin-bottom: 50px;
	/*padding-left: 0px !important;*/
}
.titleInput{
	margin-right: 5px;
}
.saveAlert{
  margin-left: 5px;
}
#playButton{
	display:inline-block;
	position: relative;
}
.titleInput{
	margin-right: 5px;
}
.saveAlert{
  margin-left: 5px;
}
/*.saveForm{
	display:inline-block;
}*/
#playButton{
	display:inline-block;
	position: relative;
}
.titleInput{
	margin-right: 5px;
}
.saveAlert{
  margin-left: 5px;
}
#playButton{
	display:inline-block;
	position: relative;
}
.titleInput{
	margin-right: 5px;
}
.saveAlert{
  margin-left: 5px;
}
/*.saveForm{
	display:inline-block;
}*/
#playButton{
	display:inline-block;
	position: relative;
}
.track{
	display: inline-block;
}
.step-tf{
	background-color: #DFE1E2;
	height: 34px;
	width: 34px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 5px;
}
.step-tt{
	background-color: #99DFCA;
	height: 34px;
	width: 34px;
	margin: 0px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 5px;
}
#step-wrapper{
	background-color: #DFE1E2;
	height: 44px;
	width: 44px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
  border-radius: 5px;
}
#step-wrapper-active{
	background-color: #F66662;
	height: 44px;
	width: 44px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 5px;
}
.stepsWrapper{
	overflow: auto;
  white-space:nowrap !important;
	/*padding-left: 0px !important;
	padding-right: 0px !important;*/
}
.stepsWrapper::-webkit-scrollbar {
   display: none;
}
	/*TRACK CONTROLS*/
	input[type=range] {
		display: inline-block !important;
	}
	.trackControls{
		display: inline-block;
		margin-top:20px;
		/*padding-left: 0px !important;*/
	}
	.sampleSelect{
  	display: inline-block;
		margin-right: 10px;
	}
	.glyphicon{
		margin-right: 10px;
	}
	.volSlider{
		width: 40px !important;
		display: inline-block;
		margin-right: 10px;
		margin-top: 10px;
	}
	/*TRACK CONTROLS*/

	.addTrack{
		position: absolute;
		bottom: 0px;
		left: 20px;
	}

/*SEQUENCER*/

/*PROFILE*/
.userSequence-container {
	margin: 1%;
}
.userSequence-container:hover {
	background-color: #4A69BF;
}
.userSequence {
	text-align: center;
}
.userSequence img {
	width: 100%;
	padding: 1%;
}

.userSample-container {
	margin: 4%;
}

.userSample {
	text-align: center;
}
.userSample img{
	padding: 1%;
	width: 50%;
}
/*PROFILE**/

/*LOGIN*/
#loginBtn {
	text-align: center;
}
#loginImg {
	height: 35px;
	width: auto;
}

#loginLogo {
  font-family: Tracks;
	font-size: 40px;
	color: #F66662;
	text-align: center;
	line-height: 25px;
}
#loginBody {
	text-align: center;
}
/*LOGIN*/
